<template>
    <section class="inicio  bg-green d-flex flex-column justify-content pl-3 pr-4">
              <div  class="d-flex mt-4" :style="{
     'background-image': 'url('+ require('../assets/SVG/bg_academy-tech.svg') +')' ,
             'background-repeat':'no-repeat',
             'background-position':'center',
            'background-size':'contain',  
            'height':'210px',
            'width':'100%'
   }">
        </div>
        <h1 class="text--white text-title mt-4" >Disponible solo para movíl</h1>
        <h3 class="text--white text-center mt-4"> reduce el tamaño de pantalla a table o movil, por el momento estamos trabajando para mejorar la experiencia en la versión web .. </h3>

    </section>
</template>