<template>
    <div class="user-profile d-flex" >
       <div class="user-profile__photo">
           <img v-if="photo" class="img__avatar" loading="lazy" :src="photo" :alt="'photo-'+ username"  />
            <div v-else   class="m-comments-user d-flex" >
                <div style="background-color:#eee" class="m-comments-user__avatar d-flex justify-content mr-2">
                <font-awesome-icon class=" text--black" :icon="['fa','user-alt']" size="1x" />
                 </div>
                
            </div>
       </div>
       <div class="user-profile__username d-flex flex-column">
         <span class="text text-medium" :class="textColor">{{ username }}</span>
         <slot name="description">
          
         </slot>
       </div>
    </div>
</template>
<script>
export default {
    props:['username','photo','textColor']
}
</script>