<template>
    <div class="container-view appear">
       <headerBase bgcolor="bg-purple" height="85px">
            <div slot="header-content" class="appear">
                <div class="d-flex">
                    <font-awesome-icon class="text text-normal text--white mr-3  d-lfex" :icon="['fa','arrow-left']"
                        @click="$router.push('/academico')" />
                    <h1 class="text text-title--name  text--white">Crear tema</h1>
                </div>

                <div class="d-flex mt-2 text ">
                     <selectFilter text="Areas" @active="activeMenu"  name="Areas" :bg="[active === 'Areas' ?'#15ed53' : '' ]"  :select="datosAreas.select"  @desactive="disabledfilter"/>
      
                 <selectFilter text="Procesos" @active="activeMenu"  name="Procesos"  :bg="[active === 'Procesos' ?'#15ed53' : '' ]" :select="datosTrbajos.select" @desactive="disabledfilter" />
            </div>
        </div>
     </headerBase>
    <div v-if="showServiceForm">  
      
        <p>Para prestar un servicio llene el siguiente formulario , toda informacion proporcionada </p>
       <div class="mt-2">
       <h4>Cuentanos sobre ti</h4>
       <textarea rows="9" placeholder="Tus habilidades" v-model="servicio.biografia" ></textarea>
        </div>
        <div>
            <h4>Contacto</h4>
            <inputBase  class="d-flex"  name="tel" placeholder="telefono"  @onchanged="inputchanged"></inputBase>
             <inputBase  class="d-flex"  name="correo" placeholder="Correo" @onchanged="inputchanged"></inputBase>
        </div>
        <span class="bg-blue" @click="showServiceProfile = true">INFO SERVICIO</span>
  </div> 
    <!--SERVICIO-->
   
    <div v-if="showServiceProfile">

           
           
          <inputBase class="mt-2"  name="titulo" placeholder="titulo" labelColor="text-black" label="Nombre" @onchanged="inputchanged" />
          
        <div class="mt-4">
            <h3>descripcion</h3>
            <textArea  name="descripcion" text-color="#000" @onchanged="inputchanged" placeholder="descripcion.." />
            

       
        </div>

      <!--Subida de archivos-->
         <div class="file-box mt-6" style="background-color:#eee;background-image:none">
                  
                    <div v-if="!image" class=" container-box flex-column justify-content">

                        <iconmave height="80px" width="80px" name="img-load" />
                        <label for="file" class="input-file"> Subir contenido </label>

                        <input type="file" name="photo" multiple ref="file" id="file" style="display:block"
                            @change="onFile">
                    </div>
                    
                    <div class="d-flex flex-column justify-content" style="width:100%" v-else>


                        <div class="img-prew mb-2 b-border--2" v-if="fileExtencion == 'jpg' || fileExtencion == 'png'">

                            <div v-if="image">
                                <img :src="image" />
                            </div>

                            <span class="cancel-file mt-3 bg-red text text--white" @click="image = ''"> x</span>

                        </div>

                        <fileTypePrev class="scale-to" :fileType='fileExtencion' :namefile="fileName"
                            v-if="fileExtencion == 'pdf'">
                            <span slot="cancelFile" class="filetype-prev__cancel text text-title--name text--white"
                                @click="image = ''"> x</span>
                        </fileTypePrev>


                        <fileTypePrev class="scale-to" :fileType='fileExtencion' :namefile="fileName"
                            v-if="fileExtencion == 'doc' || fileExtencion == 'docx'">
                            <span slot="cancelFile" class="filetype-prev__cancel text text-title--name text--white"
                                @click="image = ''"> x</span>
                        </fileTypePrev>
                        <fileTypePrev class="scale-to" :fileType='fileExtencion' :namefile="fileName"
                            v-if="fileExtencion == 'mp4'" >
                            <span slot="cancelFile" class="filetype-prev__cancel text text-title--name text--white"
                                @click="image = ''"> x</span>
                        </fileTypePrev>


                    

                    </div>

                </div>
                
                 <button class="m-btn m-btn__purple mt--2 shadow p-6 mt-5" style="width:100%" @click="addService">crear</button>

         <categorys  v-if="category" :active="active" @categoriaActive="getCategoty" @closet="category = false" />
        </div>

          <messageModal v-if="message" @closet="message = false">
           <div slot="message" class="d-flex  justify-content flex-column scale-to" @click="$router.push({path:'/academico'})">
            <iconEnjoy />
            <div>
             <h1 class="text text--white text-title--name mt-4">Ver ultimas publicaciones</h1>
            </div>
            
           </div>
       </messageModal>

      
      
    </div>
</template>
<script>
//package
import axios from 'axios'

//components
import inputBase from '../../../components/input'
import selectFilter from '../../../components/filter'
import categorys from '../../../components/academy/categorys'
import categoryFilter from '../../../mixins/categoryFilter' 
import headerBase from '../../../components/header'
import textArea from '../../../components/textArea'
import fileTypePrev from '../../../components/fileType'
import iconmave from '../../../components/iconsMave'
import messageModal from '../../../components/messages'
import iconEnjoy from '../../../components/icons/enjoyed'
import { VueEditor } from "vue2-editor";
export default {
    mixins:[categoryFilter],
    components:{
      inputBase,
      selectFilter,
      categorys,
      headerBase,
      textArea,
      fileTypePrev,
      iconmave,
      messageModal,
      iconEnjoy,
      VueEditor

    },
    data(){
        return{
         servicio:{
                 usuario:this.$store.state.usuarioDB.usuario._id,
                 tel:null,
                 direccion:'',
                 correo:'',
                 biografia:'',
                 titulo:'',
                 descripcion:'',
                 potho:[],

               
         },
         servicioProfile:{},
         showServiceForm:false,
         showServiceProfile:true,
         images:[],
         file:null,
         archives:[],
         image:null,
         fileName: 'pdf',
         fileExtencion: '',
         message:false,
         content:'',
         newPhoto:null

        }
    },
    methods:{

     
                    
            inputchanged(dato,name){
              this.servicio[name] = dato
            },
              onFile(event) {
                this.file = event.target.files[0]
                const filename = this.$refs.file.files[0].name
                this.fileName = filename;
                this.fileExtencion = filename.split('.').pop();
                this.createImage(this.file);
            },

            createImage(file) {
                //this.archives.push(file)
                const image = new Image()
                const reader = new FileReader()
                let vm = this
                reader.onload = (e) => {
                 //vm.images.push(e.target.result)
                 vm.image = e.target.result;
                };
               
                reader.readAsDataURL(file);
                           
            
            },
         
            removeImage: function (e) {
                this.image = '';
            },
            addService(){
                
                
                if(this.datosAreas.id_area === 'all'){
                    return alert('elige por lo menos un area')
                }

                 const vm = this
                 let formData = new FormData();
                
                formData.append('usuario', vm.servicio.usuario)
                formData.append('titulo', vm.servicio.titulo)
                formData.append('descripcion', vm.content)
                formData.append('area',  this.datosAreas.id_area) 

                if(this.datosTrbajos.id_trabajo !== 'all'){
                  formData.append('trabajo',  this.datosTrbajos.id_trabajo)  
                }
                
             
                formData.append('photo', this.file)

                /*this.archives.map(item =>{
                   formData.append('photo', item)
                  })*/
          
                axios.post('https://go-university-v1.herokuapp.com/tema',formData,{headers: {"token": `${this.$store.state.token}`} })
                .then(resp => {
                   
                    const pots= resp.data;
                    console.log(pots);
                    
                    this.message= true

                    /*if( vm.showServiceForm){
                      vm.updateUser()
                    }*/
                    
                })
                .catch(err => {
                   
                    console.log(err)
                });
            
        },
        updateUser(){
             const vm = this
             const info = {
              biografia: vm.servicio.biografia,
              contacto:{
                tel: vm.servicio.tel,
                correo:vm.servicio.correo
              }
             }
           
                 axios.put('https://go-university-v1.herokuapp.com/usuario/5e8e6936839d5e122f814bf2',info)
                .then(resp => {
                   
                    const pots= resp.data;
                    console.log(pots)
                    
                })
                .catch(err => {
                   
                    console.log(err)
                });
        },

      verifygetUser(){
         axios.get(`https://go-university-v1.herokuapp.com/usuario/5e8e6936839d5e122f814bf2`)
                .then(resp => {
                   
                    const usuario = resp.data;
                    console.log(usuario.statuService)
                    
                    if(!usuario.statuService){
                      this.showServiceForm = true
                      
                    }else{
                      this.showServiceProfile = true
                      this.verifygetServiceUser()
                    }

                
                    
                })
                .catch(err => {
                   
                    console.log(err)
                });
        
      
        },
     
        getCategoty(data){
            this.category=false
            const { id,name } = data
            if(this.active === 'Procesos'){
                this.datosTrbajos.id_trabajo = id
                this.datosTrbajos.select = name
     
            }
               if(this.active === 'Areas'){
                   this.datosAreas.id_area = id
                   this.datosAreas.select = name
                   
            }

             
        }

    },
    mounted(){
    //this.verifygetUser()
    }
}
</script>