<template>
 <div class="container-view">
       <headerBase bgcolor="bg-purple" height="85px">
            <div slot="header-content" class="appear">
                <div class="d-flex">
                    <font-awesome-icon class="text text-normal text--white mr-3  d-lfex" :icon="['fa','arrow-left']"
                        @click="$router.push('/academico')" />
                    <h1 class="text text-title--name  text--white">Crear Aportes</h1>
                </div>

                <div class="d-flex mt-2 text ">
                     <selectFilter text="Areas" @active="activeMenu"  name="Areas" :bg="[active === 'Areas' ?'#15ed53' : '' ]"  :select="datosAreas.select"  @desactive="disabledFilter"/>
      
                 <selectFilter text="Procesos" @active="activeMenu"  name="Procesos"  :bg="[active === 'Procesos' ?'#15ed53' : '' ]" :select="datosTrbajos.select" @desactive="disabledFilter" />
            </div>
        </div>
        </headerBase>

    <div 
    class="post-question  mt-2" >
        <div class="p-1">
               <h2 class="mb-4">Puedes aportar por areas o trabajos</h2>  
             <!--<textArea  name="titulo" text-color="#000" @onchanged="onchange" placeholder="aporte" />-->
             <vue-editor id="editor" useCustomImageHandler @image-added="handleImageAdded" v-model="content"> </vue-editor>
             
            <button class="m-btn m-btn-gradient__green mt-4" @click="setPost()" >Crear</button>
            
            <div>
                
            </div>
            <div class="mt-4" >
                <h2>!hey miras estos aportes!</h2>
                 <div  v-for="(post,index) in post.data"  :key="index" class="shadow b-rounder-4 bg-white mt-4 p-1">
                       <userProfile  :username="post.usuario.username " :photo="post.usuario.photo"  class="d-flex " />
                    <span>{{ post.titulo }}</span>
                </div>
               </div>
        </div>
         
             <categorys  v-if="category" :active="active" @categoriaActive="getCategoty" @closet="category = false" />
    </div>
 </div>
</template>
<script>
import axios from 'axios'
import selectFilter from '../../../components/filter'
import temas from './../../../components/academy/temas'
import categorys from './../../../components/academy/categorys'
import categoryFilter from '../../../mixins/categoryFilter' 
import headerBase from '../../../components/header'
 import textArea from '../../../components/textArea'
 import userProfile from '../../../components/userProfile'
 import { VueEditor } from "vue2-editor";

export default {
    mixins:[categoryFilter],
    props:['idArea','idTrabajo'],
    components:{
     selectFilter,
     temas,
     categorys,
     headerBase,
     textArea,
     userProfile,
     VueEditor 
     
    },
    data(){
        return{
            loader:false,
            showposts:false,
           post:{
              titulo:'',
              data:[]
          },
          service:false,
          content:'',
          photo:''
       
        }
    },
    methods:{
         handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
            // An example of using FormData
            // NOTE: Your key could be different such as:
            // formData.append('file', file)
        
            var formData = new FormData();
            formData.append("photo", file);
        
            axios({
                url: "https://go-university-v1.herokuapp.com/resource.images",
                method: "POST",
                data: formData
            })
                .then(result => {
                let url = result.data.url_image; // Get url from response
                this.photo = url

                
                Editor.insertEmbed(cursorLocation, "image", url);
                resetUploader();
                })
                .catch(err => {
                console.log(err);
                });
            },
          onchange(text,name){
         this.post[name] = text
        },
          setPost(){
              let post ;
              if(this.datosTrbajos.id_trabajo === 'all'){
                   post={
                  contenido:this.content,
                  usuario:this.$store.state.usuarioDB.usuario._id,
                  area:this.datosAreas.id_area,
             
                   }
                }
                  if(this.datosAreas.id_area === 'all'){
                   post={
                  contenido:this.content,
                  usuario:this.$store.state.usuarioDB.usuario._id,
             
                   }
                }
                
                if(this.datosTrbajos.id_trabajo === 'all' && this.datosAreas.id_area === 'all'){
                     post={
                  contenido:this.content,
                  usuario:this.$store.state.usuarioDB.usuario._id,
              }
                }
            
            
              axios.post('https://go-university-v1.herokuapp.com/aporte',post)
                .then(resp => {
                   
                    const pots= resp.data;
                    this.$router.push('/aportes')
                    
                })
                .catch(err => {
                   
                    console.log(err)
                });
        },
        
  
      getCategoty(data){
             const { id,name } = data
            
              this.service = true
            this.category=false
           
             
            if(this.active === 'Procesos'){
                this.datosTrbajos.id_trabajo = id
                this.datosTrbajos.select = name
                //this.active = ''
                this.getPost(this.datosAreas.id_area, this.datosTrbajos.id_trabajo)
               
                 
            }
               if(this.active === 'Areas'){
                   this.datosAreas.id_area = id
                   this.datosAreas.select = name
                   //this.active = ''
                  this.getPost(this.datosAreas.id_area, this.datosTrbajos.id_trabajo)
            }
        },
        getPost(id_area,id_work){
            
             
             const vm = this
             vm.loader = true
             vm.showposts = true
                axios.get(`https://go-university-v1.herokuapp.com/aporte/${id_area}/${id_work}`)
                .then(resp => {
                  
                    const post = resp.data;
                    console.log(post)
                    vm.post.data = post
                    vm.loader = false
                    
                    
                    
                })
                .catch(err => {
                    console.log(err)
                }); 
       
        },
        
          disabledFilter(data){
             
          if(data === 'Areas'){
            this.datosAreas.select=""
            this.datosAreas.id_area="all"
            
            }
            if(data === 'Procesos'){
              this.datosTrbajos.select=""
            this.datosTrbajos.id_trabajo="all"
            //getPost(this.datosAreas.id_area, this.datosTrbajos.id_trabajo)
              
              }
                this.post.data = []
              
        
      }
   

    }
}
</script>