<template>
  
    <div id="app" class="">
      <div v-if="showApp">
        <router-view />
      </div>

     <screenMessage v-if="!showApp" />

      
  </div>
</template>

<script>

import {mapActions,mapGetters} from 'vuex';
import screenMessage from './components/screen'

export default {
  name: 'app',
   components:{
        screenMessage
    },
  data(){
    return{
      showApp:true
    }
  },
 methods:{
  ...mapActions(['cerrarSesion','leerToken']),
  onShowApp (){
     if(window.innerWidth < 768){
          this.showApp = true
         }else{
            this.showApp = false
        }
  }
 },
 created(){
   this.leerToken()
   
 },
 mounted(){
      let vm = this
       vm.onShowApp()
       window.addEventListener('resize',()=>{
         vm.onShowApp()
       } )
 }

}
</script>

<style lang="scss" src="./assets/scss/main.scss">

</style>
